<h1>Listing cables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @cables.each do |cable| %>
  <tr>
    <td><%= link_to 'Show', cable %></td>
    <td><%= link_to 'Edit', edit_cable_path(cable) %></td>
    <td><%= link_to 'Destroy', cable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Cable', new_cable_path %>
