td= value_or_na(item.height)
td= value_or_na(item.width)
td= value_or_na(item.depth)
td= value_or_na(item.diameter)
td= value_or_na(item.volume)
td= value_or_na(item.weight)
td= value_or_na(item.thread)
td= value_or_na(item.quantity)
td= value_or_na(item.remaining)
td= value_or_na(item.date_acquired)
