<h1>Listing consumables</h1>

<table>
  <tr>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @consumables.each do |consumable| %>
  <tr>
    <td><%= link_to 'Show', consumable %></td>
    <td><%= link_to 'Edit', edit_consumable_path(consumable) %></td>
    <td><%= link_to 'Destroy', consumable, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Consumable', new_consumable_path %>
